In [ ]:
import sympy
w = sympy.symbols('w')
Q = sympy.symbols('Q')
w_0 = sympy.symbols('w_0')

In [1]:
Q = 10
w_0 = 5

In [ ]:
exp = sympy.sqrt(1/(1+Q**2*(w/w_0-w_0/w)**2))

In [2]:
sympy.plot(exp,(w,1,10))

NameError: name 'sympy' is not defined

In [1]:
import numpy as np
import pandas as pd

In [3]:
arr = np.array([0.45,0.2,0.5,0.47,0.35,1.63,0.14,0.06,0.89,0.34])

In [7]:
1/(np.log(2) - np.log(arr).mean())

0.5772440132872515

In [9]:
arr = np.array([-0.05,-0.47,0.01,-0.03,-0.18,1.65,0.64,1.05,0.41,0.19])

In [10]:
np.abs(arr).mean()

0.4680000000000001

In [11]:
arr = np.array([2,0,2,1,0,0,1,2,1])

In [12]:
np.mean(arr)

1.0

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
import sympy

In [4]:
x,y,z = sympy.symbols(['x','y','z'])

In [5]:
z = x + sympy.I*y

In [7]:
w = sympy.symbols('w')

In [8]:
w = z**2

In [10]:
w

(x + I*y)**2

AttributeError: 'Pow' object has no attribute 'plot'

In [2]:
w = np.linspace(1,20,10)
x = np.linspace(-10,10)

In [9]:
df = pd.DataFrame(np.zeros((10,3)),columns=['x','y','w'])

In [11]:
df['x'] = pd.Series(x)

In [12]:
df['w'] = pd.Series(w)

In [13]:
df.y = w + np.square()

           x    y         w
0 -10.000000  0.0  1.000000
1  -9.591837  0.0  1.387755
2  -9.183673  0.0  1.775510
3  -8.775510  0.0  2.163265
4  -8.367347  0.0  2.551020
5  -7.959184  0.0  2.938776
6  -7.551020  0.0  3.326531
7  -7.142857  0.0  3.714286
8  -6.734694  0.0  4.102041
9  -6.326531  0.0  4.489796