In [2]:
tup = 4,5,6

In [3]:
tup

(4, 5, 6)

In [4]:
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup = tuple(['foo',[1,2],True])

In [9]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [10]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
# 利用元组完成交换
a,b = (1,2)
print(a,b,sep='$$')
a,b = b,a
print(a,b,sep='$$')

1$$2
2$$1

In [12]:
tup = 4,5,(6,7,8)
a,b,(c,d,e) = tup
print(a,b,c,d,e)

4 5 6 7 8

In [13]:
a,b,(c,*rest) = tup
print(a,b,c,rest)

4 5 6 [7, 8]

In [14]:
a_list = [2,3,7,None]
tup = ('foo','bar','baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [15]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [16]:
gen = range(10)
gen

range(0, 10)

In [17]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
b_list.append('drawf')
b_list

['foo', 'peekaboo', 'baz', 'drawf']

In [19]:
b_list.insert(1,'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'drawf']

In [24]:
[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [25]:
x = [4,None,'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [26]:
a = [7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [27]:
b = ['saw','small','He','foxes','six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [31]:
import bisect
c = [7,4,3,2,2,2,1]
bisect.bisect(c,2)

7

In [32]:
bisect.bisect(c,5)

7

In [33]:
bisect.insort(c,6)
c

[7, 4, 3, 2, 2, 2, 1, 6]

In [34]:
some_list = ['foo','bar','baz']
mapping = {}
for i,v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [35]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [36]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [37]:
sq1 = ['foo','bar','baz']
sq2 = ['one','two','three']

zipped = zip(sq1,sq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [40]:
for i,(a,b) in enumerate(zip(sq1,sq2)):
    print('{0:d}: {1:s} {2:s}'.format(i,a,b))

0: foo one
1: bar two
2: baz three

In [41]:
pitchers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Crut')]
first_names,last_names = zip(*pitchers)
print(first_names,last_names,sep='\n')

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Crut')

In [45]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [46]:
empty_dict = {}
d1 = {'a':'some value','b':[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [47]:
d1[7] = 'ab integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'ab integer'}

In [48]:
d1['b']

[1, 2, 3, 4]

In [49]:
'b' in d1

True

In [50]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'ab integer', 5: 'some value'}

In [51]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'ab integer',
 5: 'some value',
 'dummy': 'another value'}

In [52]:
del d1[5]

In [53]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'ab integer',
 'dummy': 'another value'}

In [54]:
ret = d1.pop('dummy')
ret

'another value'

In [55]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'ab integer'}

In [56]:
list(d1.keys())

['a', 'b', 7]

In [57]:
list(d1.values())

['some value', [1, 2, 3, 4], 'ab integer']

In [58]:
d1.update({'b':'foo','c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'ab integer', 'c': 12}

In [59]:
mapping = dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [60]:
mapping = dict(zip(list(range(5)),list(reversed(range(5)))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [61]:
value = d1.get('100',100)
value

100

In [62]:
value = d1.get('b',100)
value

'foo'

In [63]:
words = ['apple','bat','bar','atom','book']
by_letter = {}

for word in words:
    by_letter.setdefault(word[0],[]).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [64]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [67]:
by_len = defaultdict(int)
for word in words:
    by_len[len(word)]+=1

by_len

defaultdict(int, {5: 1, 3: 2, 4: 2})

In [68]:
hash('string')

-2677630036951115710

In [69]:
hash('string')

-2677630036951115710

In [70]:
hash((1,2,(2,3)))

-9209053662355515447

In [72]:
hash((1,2,[2,3]))

TypeError: unhashable type: 'list'

In [73]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [74]:
{2,2,2,1,3,3}

{1, 2, 3}

In [75]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [77]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [78]:
a.intersection(b)

{3, 4, 5}

In [79]:
a&b

{3, 4, 5}

In [80]:
c = a.copy()
a |= b
c

{1, 2, 3, 4, 5}

In [81]:
c = {1,2,3,4,5,6,7,8}
d = a.copy()
d &= b
d

{3, 4, 5, 6, 7, 8}

In [82]:
{1,2,3}.issubset(c)

True

In [83]:
c.issuperset({1,2,3})

True

In [84]:
{1,2,3} == {2,3,1}

True

In [2]:
strings = ['a','as','bat','car','dove','python']

In [3]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [7]:
nums = [1,2,3,4,5,6,7]
{key :value for key,value in zip(strings,nums) if value >2}

{'bat': 3, 'car': 4, 'dove': 5, 'python': 6}

In [8]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [9]:
loc_mapping = {index:value for index,value in enumerate(strings)}

In [10]:
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [12]:
all_data = [['John','Emily','Micheal','Mary','Steven'],
            ['Maria','Juan','Javier','Natalia','Pilar']]
result = [name for names in all_data for name in names if name.count('e')>=2 ]
result

['Steven']

In [13]:
states = ['  Alabama','Georgia!','Georgia','georgia','flOrIda',
          '     south carolina','West virginial?']

In [15]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[#!?]','',value)
        value = value.title()
        result.append(value)
    return result

In [16]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginial']

In [17]:
def remove_punctuation(value):
    return re.sub(r'[#?!]','',value)
clean_ops = [str.strip,remove_punctuation,str.title]
def clean_strings2(strings,ops):
    result = []
    for string in strings:
        for op in ops:
            string = op(string)
        result.append(string)
    return result

In [18]:
clean_strings2(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginial']

In [19]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]
inits = [4,0,1,5,3]
apply_to_list(inits,lambda x:x*2)

[8, 0, 2, 10, 6]

In [20]:
strings = ['foo','aaaa','card','bar','abab']

In [21]:
strings.sort(key=lambda x: len(set(list(x))))

In [22]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [25]:
from functools import partial
add_numbers = lambda x,y:x+y
add_five = partial(add_numbers,5)
add_five(1)

6

In [26]:
gen = (x**2 for x in range(1,11))
gen

In [27]:
sum((x**2 for x in range(1,11)))

385

In [28]:
dict(((key,key**2) for key in range(1,11) ))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [1]:
import itertools
first_letter = lambda x : x[0]
names = ['Alan','Adam','Wes','Will','Albert','Steven']
for letter,names in itertools.groupby(names,first_letter):
    print(letter,list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [8]:
com1 = itertools.combinations('abcde',3)

In [9]:
for value in com1:
    print(value)

('a', 'b', 'c')
('a', 'b', 'd')
('a', 'b', 'e')
('a', 'c', 'd')
('a', 'c', 'e')
('a', 'd', 'e')
('b', 'c', 'd')
('b', 'c', 'e')
('b', 'd', 'e')
('c', 'd', 'e')

In [10]:
com2 = itertools.permutations('abcd',2)
for value in com2:
    print(value)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'a')
('b', 'c')
('b', 'd')
('c', 'a')
('c', 'b')
('c', 'd')
('d', 'a')
('d', 'b')
('d', 'c')

In [12]:
iter1 = itertools.product('ab','cd',repeat=2)
for value in iter1:
    print(value)

('a', 'c', 'a', 'c')
('a', 'c', 'a', 'd')
('a', 'c', 'b', 'c')
('a', 'c', 'b', 'd')
('a', 'd', 'a', 'c')
('a', 'd', 'a', 'd')
('a', 'd', 'b', 'c')
('a', 'd', 'b', 'd')
('b', 'c', 'a', 'c')
('b', 'c', 'a', 'd')
('b', 'c', 'b', 'c')
('b', 'c', 'b', 'd')
('b', 'd', 'a', 'c')
('b', 'd', 'a', 'd')
('b', 'd', 'b', 'c')
('b', 'd', 'b', 'd')

In [30]:
def combine(x,ys):
    print(ys+'----->')
    return 2*x+ys

iter2 = itertools.accumulate('a',combine)
for value in iter2:
    print(value)

a

In [2]:
path = 'example.txt'
with open(path) as fp:
    for line in fp:
        print(line.rstrip())

abcde
12345
aiueo
kakikukeko

In [3]:
fp = open(path)
fp.read(10)

'abcde\n1234'

In [4]:
fp.tell()

11

In [5]:
fp.seek(3)

3

In [7]:
fp.read(1)

'd'

In [8]:
fp.close(
)

In [23]:
def first3(iterable):
    for line in iterable:
        yield line[3:]

In [24]:
with open('tmp.txt','w') as fp:
    fp.writelines(first3(open(path)))

In [25]:
with open('tmp.txt') as fp:
    lines = fp.readlines()

In [26]:
lines

['de\n', '45\n', 'eo\n', 'ikukeko']

In [27]:
fp.closed

True

In [31]:
with open('sink.txt','r',encoding='utf-8') as fp:
    chars = fp.read(10)

In [32]:
chars

"I'm 杨堃"

In [41]:
with open ('sink.txt','rb') as fp:
    chars = fp.read(7)
chars

b"I'm \xe6\x9d\xa8"

In [42]:
chars.decode('utf8')

"I'm 杨"

In [45]:
fp = open('sink.txt',encoding='utf-8')
fp.read(5)

"I'm 杨"

In [48]:
fp.seek(5)

5

In [49]:
fp.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9d in position 0: invalid start byte

In [44]:
fp.close()